<h1>
  {{ title }}
</h1>
<h3>Mi carrera es: 
  <em>
    {{ carreras[1] }}
  </em>
</h3>
<ul>
  <li *ngFor = 'let carrera of carreras'>
    {{ carrera }}
  </li>
</ul>

<ul>
  <li *ngFor = 'let estado of estados'>
    <b>
      {{ estado.nombre+' '+estado.clave }}
    <!-- 
      Tambien se puede realizar de la siguiente forma y saldrá igual
      {{ estado.nombre}}
      {{ estado.clave}} 
    -->
    </b>
  </li>
</ul>

<p *ngIf="estados.length > 2">Son muchos estados! ({{ estados.length }})</p>

<p [hidden]='!visible'>Adios!</p>

<form>
  <label>¿Cómo te llamas?</label>

  <!--Expresiones-->
  <p>Soy capaz de multiplicar por {{ 7*26 }} tus habilidades</p>
  <!--Eventos-->
  <a (click)='visible=true'>Saludar</a>
  <!--Propiedades-->
  <p [hidden]='!visible'>Hola Mundo!!!</p>
</form>
<ul>
  
    <b>
      <li><a (click)="visible1=true;visible2=false;visible3=false;visible4=false">{{ estados[0].clave }}</a></li>
      <li><a (click)="visible1=false;visible2=true;visible3=false;visible4=false">{{ estados[1].clave }}</a></li>
      <li><a (click)="visible1=false;visible2=false;visible3=true;visible4=false">{{ estados[2].clave }}</a></li>
      <li><a (click)="visible1=false;visible2=false;visible3=false;visible4=true">{{ estados[3].clave }}</a></li>
    </b>
  
</ul>

<p [hidden]='!visible1' >{{ estados[0].id+' '+estados[0].nombre+' '+estados[0].clave }}</p>
<p [hidden]='!visible2' >{{ estados[1].id+' '+estados[1].nombre+' '+estados[1].clave }}</p>
<p [hidden]='!visible3' >{{ estados[2].id+' '+estados[2].nombre+' '+estados[2].clave }}</p>
<p [hidden]='!visible4' >{{ estados[3].id+' '+estados[3].nombre+' '+estados[3].clave }}</p>

<div class="container">
  <input [(ngModel)]='name'/>
  <br/>
  <h1> Hello {{ name }}</h1>
</div>

<h5>Listado</h5>
<div style="float:left;padding:10px;margin:0 auto;" *ngIf="estados">
  <select [(ngModel)] ="selected">
    <option *ngFor="let estado of estados" [(ngValue)]="estado.clave">{{ estado.nombre }}</option>
  </select>
  <p>{{ selected }}</p>
</div>

<a (click)="mostrar()">{{ leyenda }}</a>

<h3>Operaciones Básicas</h3>
<div class="container">
  <br/>
  <h3>Número 1
      <input [(ngModel)]='num1'/>
  </h3>
  <h3>Número 2
      <input [(ngModel)]='num2'/>
  </h3>
  
  <h4>Suma = {{ num1 *1 + num2 *1 }}</h4>
  <h4>Resta = {{ num1  - num2 }}</h4>
  <h4>Multiplicación = {{ num1  * num2 }}</h4>
  <h4>División = {{ num1  / num2 }}</h4>

  <br/>
  
</div>